.page.theme_dark {
  --nav-text-color: #ff0070;
  --accent-color: #ff0070;
  --header-color: #DB00FF;
  --background-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --text-color: #000028;
}